In [81]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('titanic.csv', sep=',')

In [94]:
data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [ ]:
# Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [90]:
(data['Sex'] == 'female').value_counts()

False    577
True     314
Name: Sex, dtype: int64

In [91]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
# Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. 
# Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [29]:
Survived = (data['Survived']==1).sum()
All = (data['Survived']).sum() + (data['Survived']==0).sum()

In [33]:
def toFixed(numObj, digits=0):
    return f"{numObj:.{digits}f}"

In [35]:
percentage = Survived / All*100
print(toFixed(percentage, 2))

38.38

In [ ]:
# Какую долю пассажиры первого класса составляли среди всех пассажиров? 
# Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), 
# округлив до двух знаков.

In [98]:
First_class = (data['Pclass']==1).sum()
All_passengers = (data['Pclass']!=1).sum() + First_class

In [99]:
First_class

216

In [100]:
All_passengers

891

In [101]:
percentage = First_class / All_passengers*100
print(toFixed(percentage, 2))

24.24

In [ ]:
# Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. 
# В качестве ответа приведите два числа через пробел.

In [45]:
median, mean = data['Age'].median(), data['Age'].mean()
print(median, toFixed(mean, 2))

28.0 29.70

In [ ]:
# Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? 
# Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [56]:
import scipy.stats

In [57]:
scipy.stats.pearsonr(data['SibSp'], data['Parch'])

(0.4148376986201561, 2.2418236681398336e-38)

In [59]:
data_1 = data[['SibSp','Parch']]
correlation = data_1.corr(method='pearson')
correlation

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [ ]:
# Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) 
# его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. 
# Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать 
# несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские 
# и мужские.

In [78]:
data_femail_names = data[data['Sex']=='female']['Name']
data_femail_names

1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
22                           McGowan, Miss. Anna "Annie"
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
28                         O'Dwyer, Miss. Ellen "Nellie"
31        Spencer, Mrs. William Augustus (Marie Eugenie)
32                              Glynn, Miss. Mary Agatha
38                    Vander Planke, Miss. Augusta Maria
39                           Nicola-Yarred, Miss. Jamila
40        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
41     Turpin, Mrs. William John Robert (Dorothy Ann ...
43              Laroche, Miss. Simonne Marie Anne Andree
44                         Devaney, Miss. Margaret Delia
47                             O'Driscoll, Miss. Bridget
49         Arnold-Franchi, Mrs. Josef (Josefine Franchi)
52              Harper, Mrs. Henry Sleeper (Myna Haxtun)
53     Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
56                                     Rugg, Miss. Emily
58                          West, Miss. Constance Mirium
61                                   Icard, Miss. Amelie
                             ...
807                      Pettersson, Miss. Ellen Natalia
809       Chambers, Mrs. Norman Campbell (Bertha Griggs)
813                   Andersson, Miss. Ebba Iris Alfrida
816                         Heininen, Miss. Wendla Maria
820    Hays, Mrs. Charles Melville (Clara Jennings Gr...
823                                   Moor, Mrs. (Beila)
829            Stone, Mrs. George Nelson (Martha Evelyn)
830              Yasbeck, Mrs. Antoni (Selini Alexander)
835                          Compton, Miss. Sara Rebecca
842                              Serepeca, Miss. Augusta
849         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
852                              Boulos, Miss. Nourelain
853                            Lines, Miss. Mary Conover
854        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
855                           Aks, Mrs. Sam (Leah Rosen)
856           Wick, Mrs. George Dennick (Mary Hitchcock)
858                Baclini, Mrs. Solomon (Latifa Qurban)
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
882                         Dahlberg, Miss. Gerda Ulrika
885                 Rice, Mrs. William (Margaret Norton)
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [79]:
data_femail_names.apply(lambda s: s.strip().split()).values

array([list(['Cumings,', 'Mrs.', 'John', 'Bradley', '(Florence', 'Briggs', 'Thayer)']),
       list(['Heikkinen,', 'Miss.', 'Laina']),
       list(['Futrelle,', 'Mrs.', 'Jacques', 'Heath', '(Lily', 'May', 'Peel)']),
       list(['Johnson,', 'Mrs.', 'Oscar', 'W', '(Elisabeth', 'Vilhelmina', 'Berg)']),
       list(['Nasser,', 'Mrs.', 'Nicholas', '(Adele', 'Achem)']),
       list(['Sandstrom,', 'Miss.', 'Marguerite', 'Rut']),
       list(['Bonnell,', 'Miss.', 'Elizabeth']),
       list(['Vestrom,', 'Miss.', 'Hulda', 'Amanda', 'Adolfina']),
       list(['Hewlett,', 'Mrs.', '(Mary', 'D', 'Kingcome)']),
       list(['Vander', 'Planke,', 'Mrs.', 'Julius', '(Emelia', 'Maria', 'Vandemoortele)']),
       list(['Masselmani,', 'Mrs.', 'Fatima']),
       list(['McGowan,', 'Miss.', 'Anna', '"Annie"']),
       list(['Palsson,', 'Miss.', 'Torborg', 'Danira']),
       list(['Asplund,', 'Mrs.', 'Carl', 'Oscar', '(Selma', 'Augusta', 'Emilia', 'Johansson)']),
       list(["O'Dwyer,", 'Miss.', 'Ellen', '"Nellie"']),
       list(['Spencer,', 'Mrs.', 'William', 'Augustus', '(Marie', 'Eugenie)']),
       list(['Glynn,', 'Miss.', 'Mary', 'Agatha']),
       list(['Vander', 'Planke,', 'Miss.', 'Augusta', 'Maria']),
       list(['Nicola-Yarred,', 'Miss.', 'Jamila']),
       list(['Ahlin,', 'Mrs.', 'Johan', '(Johanna', 'Persdotter', 'Larsson)']),
       list(['Turpin,', 'Mrs.', 'William', 'John', 'Robert', '(Dorothy', 'Ann', 'Wonnacott)']),
       list(['Laroche,', 'Miss.', 'Simonne', 'Marie', 'Anne', 'Andree']),
       list(['Devaney,', 'Miss.', 'Margaret', 'Delia']),
       list(["O'Driscoll,", 'Miss.', 'Bridget']),
       list(['Arnold-Franchi,', 'Mrs.', 'Josef', '(Josefine', 'Franchi)']),
       list(['Harper,', 'Mrs.', 'Henry', 'Sleeper', '(Myna', 'Haxtun)']),
       list(['Faunthorpe,', 'Mrs.', 'Lizzie', '(Elizabeth', 'Anne', 'Wilkinson)']),
       list(['Rugg,', 'Miss.', 'Emily']),
       list(['West,', 'Miss.', 'Constance', 'Mirium']),
       list(['Icard,', 'Miss.', 'Amelie']),
       list(['Nye,', 'Mrs.', '(Elizabeth', 'Ramell)']),
       list(['Andersson,', 'Miss.', 'Erna', 'Alexandra']),
       list(['Goodwin,', 'Miss.', 'Lillian', 'Amy']),
       list(['Dowdell,', 'Miss.', 'Elizabeth']),
       list(['McDermott,', 'Miss.', 'Brigdet', 'Delia']),
       list(['Ilett,', 'Miss.', 'Bertha']),
       list(['Backstrom,', 'Mrs.', 'Karl', 'Alfred', '(Maria', 'Mathilda', 'Gustafsson)']),
       list(['Fortune,', 'Miss.', 'Mabel', 'Helen']),
       list(['Doling,', 'Mrs.', 'John', 'T', '(Ada', 'Julia', 'Bone)']),
       list(['Petranec,', 'Miss.', 'Matilda']),
       list(['Salkjelsvik,', 'Miss.', 'Anna', 'Kristine']),
       list(['Moran,', 'Miss.', 'Bertha']),
       list(['Zabour,', 'Miss.', 'Hileni']),
       list(['Jussila,', 'Miss.', 'Katriina']),
       list(['Attalah,', 'Miss.', 'Malake']),
       list(['Andersson,', 'Miss.', 'Ellis', 'Anna', 'Maria']),
       list(['Webber,', 'Miss.', 'Susan']),
       list(['Peter,', 'Miss.', 'Anna']),
       list(['Robins,', 'Mrs.', 'Alexander', 'A', '(Grace', 'Charity', 'Laury)']),
       list(['Weisz,', 'Mrs.', 'Leopold', '(Mathilde', 'Francoise', 'Pede)']),
       list(['Newsom,', 'Miss.', 'Helen', 'Monypeny']),
       list(['Boulos,', 'Mrs.', 'Joseph', '(Sultana)']),
       list(['Nysten,', 'Miss.', 'Anna', 'Sofia']),
       list(['Hakkarainen,', 'Mrs.', 'Pekka', 'Pietari', '(Elin', 'Matilda', 'Dolck)']),
       list(['Ford,', 'Miss.', 'Robina', 'Maggie', '"Ruby"']),
       list(['Pears,', 'Mrs.', 'Thomas', '(Edith', 'Wearne)']),
       list(['Gilnagh,', 'Miss.', 'Katherine', '"Katie"']),
       list(['Watt,', 'Mrs.', 'James', '(Elizabeth', '"Bessie"', 'Inglis', 'Milne)']),
       list(['Chibnall,', 'Mrs.', '(Edith', 'Martha', 'Bowerman)']),
       list(['Skoog,', 'Mrs.', 'William', '(Anna', 'Bernhardina', 'Karlsson)']),
       list(['Johnson,', 'Miss.', 'Eleanor', 'Ileen']),
       list(['Isham,', 'Miss.', 'Ann', 'Elizabeth']),
       list(['Sage,', 'Miss.', 'Constance', 'Gladys']),
       list(['Kink-Heilmann,', 'Miss.', 'Luise', 'Gretchen']),
       list(["O'Brien,", 'Mrs.', 'Thomas', '(Johanna', '"Hannah"', 'Godfrey)']),
       list(['Pinsky,', 'Mrs.', '(Rosa)']),
       list(['Andersen-Jensen,', 'Miss.', 'Carla', 'Christine', 'Nielsine']),
       list(['Brown,', 'Mrs.', 'James', 'Joseph', '(Margaret', 'Tobin)']),
       list(['Lurette,', 'Miss.', 'Elise']),
       list(['Madigan,', 'Miss.', 'Margaret', '"Maggie"']),
       list(['Yrois,', 'Miss.', 'Henriette', '("Mrs', 'Harbeck")']),
       list(['Strom,', 'Miss.', 'Telma', 'Matilda']),
       list(['Carr,', 'Miss.', 'Helen', '"Ellen"']),
       list(['Cameron,', 'Miss.', 'Clear', 'Annie']),
       list(['Newell,', 'Miss.', 'Madeleine']),
       list(['Honkanen,', 'Miss.', 'Eliina']),
       list(['Bazzani,', 'Miss.', 'Albina']),
       list(['Lefebre,', 'Miss.', 'Mathilde']),
       list(['Harris,', 'Mrs.', 'Henry', 'Birkhardt', '(Irene', 'Wallach)']),
       list(['Asplund,', 'Miss.', 'Lillian', 'Gertrud']),
       list(['Harknett,', 'Miss.', 'Alice', 'Phoebe']),
       list(['Collyer,', 'Miss.', 'Marjorie', '"Lottie"']),
       list(['Zabour,', 'Miss.', 'Thamine']),
       list(['Murphy,', 'Miss.', 'Katherine', '"Kate"']),
       list(['Lindahl,', 'Miss.', 'Agda', 'Thorilda', 'Viktoria']),
       list(['Hamalainen,', 'Mrs.', 'William', '(Anna)']),
       list(['Strom,', 'Mrs.', 'Wilhelm', '(Elna', 'Matilda', 'Persson)']),
       list(['Rosblom,', 'Mrs.', 'Viktor', '(Helena', 'Wilhelmina)']),
       list(['Touma,', 'Mrs.', 'Darwis', '(Hanne', 'Youssef', 'Razi)']),
       list(['Thorne,', 'Mrs.', 'Gertrude', 'Maybelle']),
       list(['Cherry,', 'Miss.', 'Gladys']),
       list(['Ward,', 'Miss.', 'Anna']),
       list(['Parrish,', 'Mrs.', '(Lutie', 'Davis)']),
       list(['Henry,', 'Miss.', 'Delia']),
       list(['Graham,', 'Mrs.', 'William', 'Thompson', '(Edith', 'Junkins)']),
       list(['Bissette,', 'Miss.', 'Amelia']),
       list(['Mellinger,', 'Mrs.', '(Elizabeth', 'Anne', 'Maidment)']),
       list(['Healy,', 'Miss.', 'Hanora', '"Nora"']),
       list(['Andrews,', 'Miss.', 'Kornelia', 'Theodosia']),
       list(['Lindblom,', 'Miss.', 'Augusta', 'Charlotta']),
       list(['Abbott,', 'Mrs.', 'Stanton', '(Rosa', 'Hunt)']),
       list(['Connolly,', 'Miss.', 'Kate']),
       list(['Barber,', 'Miss.', 'Ellen', '"Nellie"']),
       list(['Bishop,', 'Mrs.', 'Dickinson', 'H', '(Helen', 'Walton)']),
       list(['Haas,', 'Miss.', 'Aloisia']),
       list(['Allison,', 'Miss.', 'Helen', 'Loraine']),
       list(['Baxter,', 'Mrs.', 'James', '(Helene', 'DeLaudeniere', 'Chaput)']),
       list(['Kelly,', 'Miss.', 'Anna', 'Katherine', '"Annie', 'Kate"']),
       list(['Keane,', 'Miss.', 'Nora', 'A']),
       list(['Fleming,', 'Miss.', 'Margaret']),
       list(['Penasco', 'y', 'Castellana,', 'Mrs.', 'Victor', 'de', 'Satode', '(Maria', 'Josefa', 'Perez', 'de', 'Soto', 'y', 'Vallejo)']),
       list(['Francatelli,', 'Miss.', 'Laura', 'Mabel']),
       list(['Hays,', 'Miss.', 'Margaret', 'Bechstein']),
       list(['Ryerson,', 'Miss.', 'Emily', 'Borie']),
       list(['Lahtinen,', 'Mrs.', 'William', '(Anna', 'Sylfven)']),
       list(['Nilsson,', 'Miss.', 'Helmina', 'Josefina']),
       list(['Kantor,', 'Mrs.', 'Sinai', '(Miriam', 'Sternin)']),
       list(['Wick,', 'Miss.', 'Mary', 'Natalie']),
       list(['Spedden,', 'Mrs.', 'Frederic', 'Oakley', '(Margaretta', 'Corning', 'Stone)']),
       list(['Slayter,', 'Miss.', 'Hilda', 'Mary']),
       list(['Caldwell,', 'Mrs.', 'Albert', 'Francis', '(Sylvia', 'Mae', 'Harbaugh)']),
       list(['Young,', 'Miss.', 'Marie', 'Grice']),
       list(['Ball,', 'Mrs.', '(Ada', 'E', 'Hall)']),
       list(['Goldsmith,', 'Mrs.', 'Frank', 'John', '(Emily', 'Alice', 'Brown)']),
       list(['Hippach,', 'Miss.', 'Jean', 'Gertrude']),
       list(['McCoy,', 'Miss.', 'Agnes']),
       list(['Frauenthal,', 'Mrs.', 'Henry', 'William', '(Clara', 'Heinsheimer)']),
       list(['Burns,', 'Miss.', 'Elizabeth', 'Margaret']),
       list(['Fortune,', 'Miss.', 'Alice', 'Elizabeth']),
       list(['Brown,', 'Miss.', 'Amelia', '"Mildred"']),
       list(['Smith,', 'Miss.', 'Marion', 'Elsie']),
       list(['Davison,', 'Mrs.', 'Thomas', 'Henry', '(Mary', 'E', 'Finck)']),
       list(['Bowerman,', 'Miss.', 'Elsie', 'Edith']),
       list(['Funk,', 'Miss.', 'Annie', 'Clemmer']),
       list(['McGovern,', 'Miss.', 'Mary']),
       list(['Mockler,', 'Miss.', 'Helen', 'Mary', '"Ellie"']),
       list(['Barbara,', 'Mrs.', '(Catherine', 'David)']),
       list(['Warren,', 'Mrs.', 'Frank', 'Manley', '(Anna', 'Sophia', 'Atkinson)']),
       list(['Moussa,', 'Mrs.', '(Mantoura', 'Boulos)']),
       list(['Jermyn,', 'Miss.', 'Annie']),
       list(['Aubart,', 'Mme.', 'Leontine', 'Pauline']),
       list(['Palsson,', 'Miss.', 'Stina', 'Viola']),
       list(['Meyer,', 'Mrs.', 'Edgar', 'Joseph', '(Leila', 'Saks)']),
       list(['Landergren,', 'Miss.', 'Aurora', 'Adelia']),
       list(['Bidois,', 'Miss.', 'Rosalie']),
       list(['Nakid,', 'Miss.', 'Maria', '("Mary")']),
       list(['Holverson,', 'Mrs.', 'Alexander', 'Oskar', '(Mary', 'Aline', 'Towner)']),
       list(['Buss,', 'Miss.', 'Kate']),
       list(['Lehmann,', 'Miss.', 'Bertha']),
       list(['Newell,', 'Miss.', 'Marjorie']),
       list(['Sandstrom,', 'Mrs.', 'Hjalmar', '(Agnes', 'Charlotta', 'Bengtsson)']),
       list(['Olsson,', 'Miss.', 'Elina']),
       list(['Trout,', 'Mrs.', 'William', 'H', '(Jessie', 'L)']),
       list(['Jussila,', 'Miss.', 'Mari', 'Aina']),
       list(['Oreskovic,', 'Miss.', 'Marija']),
       list(['Lefebre,', 'Miss.', 'Ida']),
       list(['Minahan,', 'Miss.', 'Daisy', 'E']),
       list(['Meek,', 'Mrs.', 'Thomas', '(Annie', 'Louise', 'Rowley)']),
       list(['Drew,', 'Mrs.', 'James', 'Vivian', '(Lulu', 'Thorne', 'Christian)']),
       list(['Silven,', 'Miss.', 'Lyyli', 'Karoliina']),
       list(['Van', 'Impe,', 'Miss.', 'Catharina']),
       list(['Danbom,', 'Mrs.', 'Ernst', 'Gilbert', '(Anna', 'Sigrid', 'Maria', 'Brogren)']),
       list(['Clarke,', 'Mrs.', 'Charles', 'V', '(Ada', 'Maria', 'Winfield)']),
       list(['Phillips,', 'Miss.', 'Kate', 'Florence', '("Mrs', 'Kate', 'Louise', 'Phillips', 'Marshall")']),
       list(['Thorneycroft,', 'Mrs.', 'Percival', '(Florence', 'Kate', 'White)']),
       list(['Louch,', 'Mrs.', 'Charles', 'Alexander', '(Alice', 'Adelaide', 'Slow)']),
       list(['Carter,', 'Miss.', 'Lucile', 'Polk']),
       list(['Ford,', 'Miss.', 'Doolina', 'Margaret', '"Daisy"']),
       list(['Richards,', 'Mrs.', 'Sidney', '(Emily', 'Hocking)']),
       list(['Hart,', 'Mrs.', 'Benjamin', '(Esther', 'Ada', 'Bloomfield)']),
       list(['Reynaldo,', 'Ms.', 'Encarnacion']),
       list(['Mellinger,', 'Miss.', 'Madeleine', 'Violet']),
       list(['Baclini,', 'Miss.', 'Marie', 'Catherine']),
       list(['Kenyon,', 'Mrs.', 'Frederick', 'R', '(Marion)']),
       list(['Toomey,', 'Miss.', 'Ellen']),
       list(['Baclini,', 'Miss.', 'Helene', 'Barbara']),
       list(['West,', 'Mrs.', 'Edwy', 'Arthur', '(Ada', 'Mary', 'Worth)']),
       list(['Jerwan,', 'Mrs.', 'Amin', 'S', '(Marie', 'Marthe', 'Thuillard)']),
       list(['Strandberg,', 'Miss.', 'Ida', 'Sofia']),
       list(['Hirvonen,', 'Miss.', 'Hildur', 'E']),
       list(['Turkula,', 'Mrs.', '(Hedwig)']),
       list(['Lefebre,', 'Miss.', 'Jeannie']),
       list(['Hoyt,', 'Mrs.', 'Frederick', 'Maxfield', '(Jane', 'Anne', 'Forby)']),
       list(['Eustis,', 'Miss.', 'Elizabeth', 'Mussey']),
       list(['Allison,', 'Mrs.', 'Hudson', 'J', 'C', '(Bessie', 'Waldo', 'Daniels)']),
       list(['Canavan,', 'Miss.', 'Mary']),
       list(["O'Sullivan,", 'Miss.', 'Bridget', 'Mary']),
       list(['Laitinen,', 'Miss.', 'Kristina', 'Sofia']),
       list(['Maioni,', 'Miss.', 'Roberta']),
       list(['Quick,', 'Mrs.', 'Frederick', 'Charles', '(Jane', 'Richards)']),
       list(['Rothschild,', 'Mrs.', 'Martin', '(Elizabeth', 'L.', 'Barrett)']),
       list(['Lemore,', 'Mrs.', '(Amelia', 'Milley)']),
       list(['Angle,', 'Mrs.', 'William', 'A', '(Florence', '"Mary"', 'Agnes', 'Hughes)']),
       list(['Perreault,', 'Miss.', 'Anne']),
       list(['Hippach,', 'Mrs.', 'Louis', 'Albert', '(Ida', 'Sophia', 'Fischer)']),
       list(['Ridsdale,', 'Miss.', 'Lucy']),
       list(['Quick,', 'Miss.', 'Phyllis', 'May']),
       list(['Peter,', 'Mrs.', 'Catherine', '(Catherine', 'Rizk)']),
       list(['Cacic,', 'Miss.', 'Marija']),
       list(['Hart,', 'Miss.', 'Eva', 'Miriam']),
       list(['LeRoy,', 'Miss.', 'Bertha']),
       list(['Frolicher,', 'Miss.', 'Hedwig', 'Margaritha']),
       list(['Crosby,', 'Miss.', 'Harriet', 'R']),
       list(['Andersson,', 'Miss.', 'Ingeborg', 'Constanzia']),
       list(['Andersson,', 'Miss.', 'Sigrid', 'Elisabeth']),
       list(['Beane,', 'Mrs.', 'Edward', '(Ethel', 'Clarke)']),
       list(['Ohman,', 'Miss.', 'Velin']),
       list(['Duff', 'Gordon,', 'Lady.', '(Lucille', 'Christiana', 'Sutherland)', '("Mrs', 'Morgan")']),
       list(['Taussig,', 'Mrs.', 'Emil', '(Tillie', 'Mandelbaum)']),
       list(['de', 'Messemaeker,', 'Mrs.', 'Guillaume', 'Joseph', '(Emma)']),
       list(['Meanwell,', 'Miss.', '(Marion', 'Ogden)']),
       list(['Palsson,', 'Mrs.', 'Nils', '(Alma', 'Cornelia', 'Berglund)']),
       list(['Appleton,', 'Mrs.', 'Edward', 'Dale', '(Charlotte', 'Lamson)']),
       list(['Kelly,', 'Miss.', 'Mary']),
       list(['Garside,', 'Miss.', 'Ethel']),
       list(['Silvey,', 'Mrs.', 'William', 'Baird', '(Alice', 'Munger)']),
       list(['Caram,', 'Mrs.', 'Joseph', '(Maria', 'Elias)']),
       list(['Christy,', 'Miss.', 'Julie', 'Rachel']),
       list(['Thayer,', 'Mrs.', 'John', 'Borland', '(Marian', 'Longstreth', 'Morris)']),
       list(['Taussig,', 'Miss.', 'Ruth']),
       list(['Stephenson,', 'Mrs.', 'Walter', 'Bertram', '(Martha', 'Eustis)']),
       list(['Bourke,', 'Miss.', 'Mary']),
       list(['Leitch,', 'Miss.', 'Jessie', 'Wills']),
       list(['Jacobsohn,', 'Mrs.', 'Sidney', 'Samuel', '(Amy', 'Frances', 'Christy)']),
       list(['Laroche,', 'Mrs.', 'Joseph', '(Juliette', 'Marie', 'Louise', 'Lafargue)']),
       list(['Shutes,', 'Miss.', 'Elizabeth', 'W']),
       list(['Andersson,', 'Mrs.', 'Anders', 'Johan', '(Alfrida', 'Konstantia', 'Brogren)']),
       list(['Murphy,', 'Miss.', 'Margaret', 'Jane']),
       list(['Herman,', 'Miss.', 'Alice']),
       list(['Lobb,', 'Mrs.', 'William', 'Arthur', '(Cordelia', 'K', 'Stanlick)']),
       list(['Becker,', 'Miss.', 'Marion', 'Louise']),
       list(['Longley,', 'Miss.', 'Gretchen', 'Fiske']),
       list(['Skoog,', 'Miss.', 'Mabel']),
       list(['Davis,', 'Miss.', 'Mary']),
       list(['Panula,', 'Mrs.', 'Juha', '(Maria', 'Emilia', 'Ojala)']),
       list(['Sagesser,', 'Mlle.', 'Emma']),
       list(['Skoog,', 'Miss.', 'Margit', 'Elizabeth']),
       list(['Baclini,', 'Miss.', 'Eugenie']),
       list(['Stanley,', 'Miss.', 'Amy', 'Zillah', 'Elsie']),
       list(['Doling,', 'Miss.', 'Elsie']),
       list(["O'Leary,", 'Miss.', 'Hanora', '"Norah"']),
       list(['Hegarty,', 'Miss.', 'Hanora', '"Nora"']),
       list(['Bourke,', 'Mrs.', 'John', '(Catherine)']),
       list(['Taylor,', 'Mrs.', 'Elmer', 'Zebley', '(Juliet', 'Cummins', 'Wright)']),
       list(['Brown,', 'Mrs.', 'Thomas', 'William', 'Solomon', '(Elizabeth', 'Catherine', 'Ford)']),
       list(['Turja,', 'Miss.', 'Anna', 'Sofia']),
       list(['Goodwin,', 'Mrs.', 'Frederick', '(Augusta', 'Tyler)']),
       list(['Peters,', 'Miss.', 'Katie']),
       list(['Madill,', 'Miss.', 'Georgette', 'Alexandra']),
       list(['Karun,', 'Miss.', 'Manca']),
       list(['Mullens,', 'Miss.', 'Katherine', '"Katie"']),
       list(['Astor,', 'Mrs.', 'John', 'Jacob', '(Madeleine', 'Talmadge', 'Force)']),
       list(['Barbara,', 'Miss.', 'Saiide']),
       list(['Kelly,', 'Mrs.', 'Florence', '"Fannie"']),
       list(['Cleaver,', 'Miss.', 'Alice']),
       list(['Mayne,', 'Mlle.', 'Berthe', 'Antonine', '("Mrs', 'de', 'Villiers")']),
       list(['Endres,', 'Miss.', 'Caroline', 'Louise']),
       list(['Troutt,', 'Miss.', 'Edwina', 'Celia', '"Winnie"']),
       list(['Harper,', 'Miss.', 'Annie', 'Jessie', '"Nina"']),
       list(['Renouf,', 'Mrs.', 'Peter', 'Henry', '(Lillian', 'Jefferys)']),
       list(['Mannion,', 'Miss.', 'Margareth']),
       list(['Ilmakangas,', 'Miss.', 'Pieta', 'Sofia']),
       list(['Allen,', 'Miss.', 'Elisabeth', 'Walton']),
       list(['Ford,', 'Mrs.', 'Edward', '(Margaret', 'Ann', 'Watson)']),
       list(['Ryerson,', 'Miss.', 'Susan', 'Parker', '"Suzette"']),
       list(['Sinkkonen,', 'Miss.', 'Anna']),
       list(['Wells,', 'Miss.', 'Joan']),
       list(['Herman,', 'Mrs.', 'Samuel', '(Jane', 'Laver)']),
       list(['Rothes,', 'the', 'Countess.', 'of', '(Lucy', 'Noel', 'Martha', 'Dyer-Edwards)']),
       list(['Carter,', 'Mrs.', 'William', 'Ernest', '(Lucile', 'Polk)']),
       list(['Hogeboom,', 'Mrs.', 'John', 'C', '(Anna', 'Andrews)']),
       list(['Mangan,', 'Miss.', 'Mary']),
       list(['Mack,', 'Mrs.', '(Mary)']),
       list(['Hocking,', 'Mrs.', 'Elizabeth', '(Eliza', 'Needs)']),
       list(['Emanuel,', 'Miss.', 'Virginia', 'Ethel']),
       list(['Robert,', 'Mrs.', 'Edward', 'Scott', '(Elisabeth', 'Walton', 'McMillan)']),
       list(['Ayoub,', 'Miss.', 'Banoura']),
       list(['Dick,', 'Mrs.', 'Albert', 'Adrian', '(Vera', 'Gillespie)']),
       list(['Sjoblom,', 'Miss.', 'Anna', 'Sofia']),
       list(['Sage,', 'Miss.', 'Stella', 'Anna']),
       list(['Leader,', 'Dr.', 'Alice', '(Farnham)']),
       list(['Osman,', 'Mrs.', 'Mara']),
       list(['Van', 'Impe,', 'Mrs.', 'Jean', 'Baptiste', '(Rosalie', 'Paula', 'Govaert)']),
       list(['Collyer,', 'Mrs.', 'Harvey', '(Charlotte', 'Annie', 'Tate)']),
       list(['Pettersson,', 'Miss.', 'Ellen', 'Natalia']),
       list(['Chambers,', 'Mrs.', 'Norman', 'Campbell', '(Bertha', 'Griggs)']),
       list(['Andersson,', 'Miss.', 'Ebba', 'Iris', 'Alfrida']),
       list(['Heininen,', 'Miss.', 'Wendla', 'Maria']),
       list(['Hays,', 'Mrs.', 'Charles', 'Melville', '(Clara', 'Jennings', 'Gregg)']),
       list(['Moor,', 'Mrs.', '(Beila)']),
       list(['Stone,', 'Mrs.', 'George', 'Nelson', '(Martha', 'Evelyn)']),
       list(['Yasbeck,', 'Mrs.', 'Antoni', '(Selini', 'Alexander)']),
       list(['Compton,', 'Miss.', 'Sara', 'Rebecca']),
       list(['Serepeca,', 'Miss.', 'Augusta']),
       list(['Goldenberg,', 'Mrs.', 'Samuel', 'L', '(Edwiga', 'Grabowska)']),
       list(['Boulos,', 'Miss.', 'Nourelain']),
       list(['Lines,', 'Miss.', 'Mary', 'Conover']),
       list(['Carter,', 'Mrs.', 'Ernest', 'Courtenay', '(Lilian', 'Hughes)']),
       list(['Aks,', 'Mrs.', 'Sam', '(Leah', 'Rosen)']),
       list(['Wick,', 'Mrs.', 'George', 'Dennick', '(Mary', 'Hitchcock)']),
       list(['Baclini,', 'Mrs.', 'Solomon', '(Latifa', 'Qurban)']),
       list(['Swift,', 'Mrs.', 'Frederick', 'Joel', '(Margaret', 'Welles', 'Barron)']),
       list(['Sage,', 'Miss.', 'Dorothy', 'Edith', '"Dolly"']),
       list(['Bystrom,', 'Mrs.', '(Karolina)']),
       list(['Duran', 'y', 'More,', 'Miss.', 'Asuncion']),
       list(['Beckwith,', 'Mrs.', 'Richard', 'Leonard', '(Sallie', 'Monypeny)']),
       list(['Abelson,', 'Mrs.', 'Samuel', '(Hannah', 'Wizosky)']),
       list(['Najib,', 'Miss.', 'Adele', 'Kiamie', '"Jane"']),
       list(['Potter,', 'Mrs.', 'Thomas', 'Jr', '(Lily', 'Alexenia', 'Wilson)']),
       list(['Shelley,', 'Mrs.', 'William', '(Imanita', 'Parrish', 'Hall)']),
       list(['Dahlberg,', 'Miss.', 'Gerda', 'Ulrika']),
       list(['Rice,', 'Mrs.', 'William', '(Margaret', 'Norton)']),
       list(['Graham,', 'Miss.', 'Margaret', 'Edith']),
       list(['Johnston,', 'Miss.', 'Catherine', 'Helen', '"Carrie"'])],
      dtype=object)

In [83]:
all_words = np.concatenate(data_femail_names.apply(lambda s: s.strip().split()).values)

In [84]:
pd.Series(list(all_words)).value_counts()

Miss.           182
Mrs.            125
William          15
Mary             13
Anna             11
Elizabeth         9
John              8
Margaret          8
Maria             7
Alice             6
Joseph            6
Sofia             6
(Elizabeth        6
Andersson,        6
Helen             6
Thomas            6
Annie             5
Anne              5
Frederick         5
Kate              5
Henry             5
Louise            5
(Anna             5
Edward            4
Charles           4
(Margaret         4
Catherine         4
Samuel            4
Augusta           4
Bertha            4
               ...
Hegarty,          1
"Mildred"         1
Stanton           1
Robins,           1
Viktor            1
Josefina          1
Drew,             1
Agda              1
(Rosa)            1
Rosblom,          1
Ilett,            1
"Maggie"          1
Satode            1
Sam               1
O'Leary,          1
Winfield)         1
Bradley           1
Heininen,         1
(Lilian           1
Louis             1
Emil              1
(Bessie           1
Jacobsohn,        1
Nakid,            1
Gustafsson)       1
Hakkarainen,      1
Edgar             1
O'Brien,          1
(Dorothy          1
Helmina           1
Length: 840, dtype: int64